//$main-color = [defined in config]
$button-enabled-background-color = $main-color

$window-color = white
$window-color-darktheme = #1a1a1a
$top-navigation-color = #F5F5F5
//$top-navigation-color-darktheme = #333333
$top-navigation-color-darktheme = #171717 //#202020
$text-color = #111
$text-color-darktheme = #a1a0a1
$download-icon-color = #b4b4b4
//$link-color = #b1b1e0
$link-color = #c2c2c2 //#949394 //#939395 //#959595 //#95959e
$inactive-link-color = #888
$inactive-link-color-darktheme = #b3b6bb
$extra-nav-link-color = #bdbdbd
$extra-nav-link-background-color = #272727
//#b3b6bb
$line-color = #DDD
$active-tab-background-color = rgba(0, 0, 0, 0.06)
$focused-tab-background-color = rgba(0, 0, 0, 0.03)
$active-tab-background-color-darktheme = rgba(255, 255, 255, 0.05)
$focused-tab-background-color-darktheme = rgba(255, 255, 255, 0.03)
//$message-info-border-color = #BDF
$message-info-border-color = #1a151d
//$message-info-background-color = #E3EFF9
$message-info-background-color = #08253c
$message-error-border-color = #FCC
$message-error-background-color = #FFF5F5
$message-success-border-color = #D3E3D3
$message-success-background-color = #F5FFF5
$input-bad-border-color = #FCC
$input-bad-background-color = #FFF5F5
$input-good-border-color = #D3E3D3
$input-good-background-color = #F5FFF5
$input-enabled-background-color = #FAFAFA
$input-enabled-border-color = #EEE
$input-enabled-text-color = $text-color
$input-enabled-text-color-darktheme = $text-color-darktheme
$input-disabled-background-color = #FAFAFA
$input-disabled-border-color = #EEE
$input-disabled-text-color = #888
//$button-enabled-text-color = white
$button-enabled-text-color = #dddddd
//$button-enabled-text-color = #dcdada
$button-disabled-text-color = #666
$button-disabled-background-color = #CCC
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #b0210a //#b72008e0  //rgb(159 23 23 / 81%) //#b61515cf //#900000f8 // #c51717c7
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #DFC
$new-tag-text-color = black
$implied-tag-background-color = #FFC
$implied-tag-text-color = black
$tag-suggestions-header-color = #EEE
$tag-suggestions-border-color = #AAA
$duplicate-tag-background-color = #FDC
$duplicate-tag-text-color = black
$active-note-overlay-background-color = rgba(255, 255, 255, 0.3)
$active-note-overlay-border-color = rgba(62, 255, 62, 0.8)
$note-background-color = rgba(255, 255, 205, 0.3)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(222, 255, 222, 0.3)
$edited-note-border-color = rgba(0, 200, 0, 0.9)
$note-text-background-color = lemonchiffon
$note-text-border-color = black
$note-text-text-color = black
$first-note-point-color = orangered
$hovered-note-point-color = red
$hovered-first-note-point-color = red
$safety-safe = #88D488
$safety-sketchy = #F3D75F
$safety-unsafe = #F3985F
$scrollbar-thumb-color = $main-color
$scrollbar-bg-color = $input-enabled-background-color
$transparency-grid-square-color = #F0F0F0

$active-tab-text-color = $text-color
$active-tab-text-color-darktheme = $text-color-darktheme
$active-tab-text-hover-color-darktheme = lighten($active-tab-text-color-darktheme, 15%)

$inactive-tab-text-color = $inactive-link-color
$inactive-tab-text-color-darktheme = $inactive-link-color-darktheme
$inactive-tab-text-hover-color-darktheme = lighten($inactive-tab-text-color-darktheme, 15%)


$comment-border-color = $top-navigation-color
$comment-border-color-darktheme = $top-navigation-color-darktheme

$comment-header-background-color = $top-navigation-color
$comment-header-background-color-darktheme = $top-navigation-color-darktheme

//$comment-border-color = #DDD

$upload-header-background-color = $top-navigation-color
$upload-header-background-color-darktheme = $top-navigation-color-darktheme
$upload-border-color = #707070b8
$cancel-button-color = tomato

$delete-button-color = tomato

$token-border-color = $active-tab-background-color

$snapshot-created-background-color = #E0F5E0
$snapshot-modified-background-color = #E0F5FF
$snapshot-deleted-background-color = #FDE5E5
$snapshot-merged-background-color = #FEC

$checkbox-border-color = $main-color
$checkbox-border-color-darktheme = #f6f3fe
