@require colors

.global-comment-list
    text-align: left

    &>ul

        list-style-type: none
        margin: 1em 0 0
        padding: 0

        &>li
            display: flex
            justify-content: flex-end

            @media (max-width: 1000px) {
                flex-direction: column;
                align-items: center;
            }

            padding-top: 2em
            padding-bottom: 2em

            border-top: 3px solid $comment-border-color

            .post-thumbnail
                @media (min-width: 1000px)
                    text-align: center

                .thumbnail
                    height: auto
                    width: auto

                    @media (min-width: 1000px)
                        width: 300px

                    img
                        height: auto
                        width: auto
                        max-height: 300px
                        max-width: 300px

        @media (min-width: 1000px)

            &>li
                padding-left: 13em
            .post-thumbnail
                float: left
                margin: 0 0 0 -13em

        .comments-container
            @media (min-width: 1000px)
                margin-left: 1em
                //margin-top: 0

        &>li
            clear: both

        .post-thumbnail
            //vertical-align: top
            //margin-right: 1em
            a
                display: inline-block

        @media (min-width: 801px)
            .comments-container
                width: 100%

.darktheme .global-comment-list
    &>ul
        &>li
            border-top: 3px solid $comment-border-color-darktheme
