@require colors

#post-upload
    form
        width: 100%
        max-width: 40em
        margin: 0 auto
        text-align: left

        &.inactive input[type=submit],
        &.inactive .control-checkbox,
        &.inactive .tags,
        &.uploading input[type=submit],
        &.uploading .control-checkbox,
        &.inactive .skip-duplicates
        &.inactive .always-upload-similar
        &.inactive .pause-remain-on-error
        &.inactive #common-tags,
        &.uploading input[type=submit],
        &.uploading .skip-duplicates,
        &.uploading .always-upload-similar
        &.uploading .pause-remain-on-error
        &:not(.uploading) .cancel
            display: none

    .control-strip
        margin-top: 1.2em

        input.submit
            font-size: 110%
            border-radius: 8px
            border-width: 4px
            margin-left: -0.5em
            transition: .3333333s
            &:hover
                border-color: lighten($button-enabled-background-color, 15%)
                background-color: lighten($button-enabled-background-color, 20%)
                color: lighten($button-enabled-text-color, 10%)
                //box-shadow: inset 0 0 16px 9px #4d64d2e0
                //box-shadow: inset 0 0 16px 9px rgba(lighten($button-enabled-text-color, 15%), 0.22)
            &:active
                border-color: darken($button-enabled-background-color, 15%)
                background-color: darken($button-enabled-background-color, 20%)
                color: darken($button-enabled-text-color, 10%)
                //box-shadow: inset 0 0 16px 9px rgba(lighten($button-enabled-text-color, 20%), 0.27)


        .tag-input .main-control
            input
                flex: none
                width: 20em
            button
                display: none

    .dropper-container
        margin: 0 auto
        .file-dropper
            font-size: 150%
            padding: 2em
            small
                font-size: 60%
    // Make the inputs aligned:
    .url-holder
        input
            flex: 8
        button
            flex: 1
            min-width: fit-content
    .tags
        margin-top: 1em
        input
            flex: 8
        button
            flex: 1
            min-width: fit-content

    label[for=common-tags]
        display: none !important

    input[type=submit]
        margin-top: 1em

    .cancel
        margin-top: 1em
        background: $cancel-button-color
        border-color: $cancel-button-color
        &:focus
            border: 2px solid $text-color

    .control-checkbox
        margin-left: 1em

    .always-upload-similar
        margin-left: 1em

    .pause-remain-on-error
        margin-left: 1em

    form>.messages
        margin-top: 1em

    .uploadables-container
        list-style-type: none
        margin: 0
        padding: 0

        .uploadable-container
            display: flex
            justify-content: flex-end
            clear: both
            margin: 0 0 1.2em 0
            padding-left: 13em

            img
                //width: 100%
                //height: 100%

            video
                //width: 100%
                //height: 100%

            &>.thumbnail-wrapper
                float: left

                height: auto;
                width: auto;
                max-height: 300px;
                max-width: 200px;

                margin: 0 0 0 -13em 
                .thumbnail
                    width: 100%
                    height: 100%

            .uploadable
                border: 1px solid $upload-border-color
                min-height: 8em
                box-sizing: border-box

                width: 100%
                min-width: 100px

                margin-left: 1em
                header
                    line-height: 1.5em
                    padding: 0.25em 1em
                    text-align: left
                    background: $upload-header-background-color
                    //border-bottom: 1px solid $upload-border-color

                    nav
                        &:first-of-type
                            float: left
                            a
                                margin: 0 0.5em 0 0
                        &:last-of-type
                            float: right
                            a
                                margin: 0 0 0 0.5em

                        ul
                            list-style-type: none
                        ul, li
                            display: inline-block
                            margin: 0
                            padding: 0

                    span.filename
                        padding: 0 0.5em
                        display: block
                        overflow: hidden
                        white-space: nowrap
                        text-overflow: ellipsis

                .body
                    margin: 1em

                    .anonymous
                        margin: 0.3em 0

                    .safety
                        margin: 0.3em 0
                        label
                            display: inline-block
                            margin-right: 1em

                    .options div
                        display: inline-block
                        margin: 0 1em 0 0

                    .messages
                        margin-top: 1em
                        .message:last-child
                            margin-bottom: 0

                    .lookalikes
                        list-style-type: none
                        margin: 0
                        padding: 0

                        li
                            clear: both
                            margin: 1em 0 0 0
                            padding-left: 7em
                            padding-bottom: 1em
                            font-size: 90%

                            .thumbnail-wrapper
                                float: left
                                width: 6em
                                height: 4em
                                margin: 0 0 0 -7em
                                .thumbnail
                                    width: 100%
                                    height: 100%

                        .description
                            margin-right: 0.5em
                            display: inline-block
                        .controls
                            float: right
                            display: inline-block


            &:first-child .move-up
                color: $inactive-link-color
            &:last-child .move-down
                color: $inactive-link-color
            .darktheme &:first-child .move-up
                color: $inactive-link-color-darktheme
            .darktheme &:last-child .move-down
                color: $inactive-link-color-darktheme

.darktheme #post-upload .uploadables-container .uploadable-container
    .uploadable header
        background: $upload-header-background-color-darktheme
    &:first-child .move-up
        color: $inactive-link-color-darktheme
    &:last-child .move-down
        color: $inactive-link-color-darktheme
