:root
    --main-color: #6824dd;
    --window-color: white;
    --window-color-darktheme: #1a1a1a;
    --top-navigation-color: #F5F5F5;
    --top-navigation-color-darktheme: #333333;
    --text-color: #111;
    --text-color-darktheme: #aaa;
    --link-color: #b597e8;
    --inactive-link-color: #888;
    --inactive-link-color-darktheme: #cccccc;
    --line-color: #DDD;
